@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
<!DOCTYPE html>
@{
}
<html lang="en" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - Web Admin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

     <script src="~/dist/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/vendor.min.js" asp-append-version="true"></script>


    <script src="~/dist/js/vendor-validation.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/vendor-datatables.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/custom-app-lib.min.js" asp-append-version="true"></script>
    @* <script src="~/dist/js/vendor-signalr.min.js" asp-append-version="true"></script> *@

    <script src="~/lib/customjs/cusfileuploader.js" asp-append-version="true"></script>
    <script src="~/dist/js/vendor-footable.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.blockui.js"></script>



    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css" asp-append-version="true" />
    @{
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
        {
            <link rel="stylesheet" href="~/dist/css/custom-app-lib.min.rtl.css" asp-append-version="true" />
        }
        else
        {
            <link rel="stylesheet" href="~/dist/css/custom-app-lib.min.css" asp-append-version="true" />
        }
    }

    <link rel="stylesheet" href="~/dist/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/vendor-datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/my-fileupload.css" asp-append-version="true" />

  
    @*<link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />*@


    <link rel="stylesheet" href="~/dist/css/vendor-footable.min.css" asp-append-version="true" />

    <link href="~/lib/magnific-popup.js/magnific-popup.css" rel="stylesheet" />
    <link href="~/lib/lightbox2/css/lightbox.min.css" rel="stylesheet" />

</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        @{
            var tokenSet = antiforgery.GetAndStoreTokens(Context);
        }
        <input hidden id="@tokenSet.HeaderName" value="@tokenSet.RequestToken" />
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble rounded-circle" src="~/img/saheel.png" alt="Saheel Logo" height="60" width="60">
        </div>


        @await Component.InvokeAsync("Header", new { headertag = "headertag" })
        <!-- Main Sidebar Container -->
        <!-- Sidebar Menu -->
        @await Component.InvokeAsync("SideBarMenu", new { headertag = "headertag" })
        <!-- /.sidebar-menu -->
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            @await Component.InvokeAsync("BreadCrumbs", new { headertag = "headertag" })
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <main role="main" class="pb-3" id="maincontainer">
                        @RenderBody()
                    </main>
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>


        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @await Component.InvokeAsync("Footer", new { footertag = "footertag" })
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>

    @RenderSection("scripts", required: false)
    @if (User.Identity.IsAuthenticated)
    {
        @*<script src="~/js/vendor-signalr.min.js" asp-append-version="true"></script>*@
    }

    <div id="modal-common-container" class="modal fade hidden-print" tabindex="-1" role="dialog"  >
        <div class="modal-dialog">
            <div class="modal-content" id="modal-common-content">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

        });
		
    </script>
</body>
</html>
