@using CLL
@model BDO.Core.DataAccessObjects.Models.gen_userunitEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("DELETE_GEN_USERUNIT");
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("DELETE_GEN_USERUNIT")</h5>
            </div>
            <form method="POST" id="frmDeleteGen_UserUnit" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
                   @*  <div class="row">
                        <input asp-for="serial" type="hidden" />
                    </div> *@

                    <div class="row ">
                        <input asp-for="serial" type="hidden" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="unitid"></label>
                                @await Component.InvokeAsync("S2Gen_Unit", new { selectid = "unitid", preloaded = ViewBag.preloadedDatagen_unit, isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
                                <span asp-validation-for="unitid" class="unitiderror text-danger " id="unitiderror"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="masteruserid"></label>
                                @await Component.InvokeAsync("S2Owin_User", new { selectid = "masteruserid", preloaded = ViewBag.preloadedDatagen_user, isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
                                <span asp-validation-for="masteruserid" class="useriderror text-danger " id="useriderror"></span>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row btn-toolbar">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <button type="submit" id="btnDeleteGen_UserUnit" data="@Url.Action("LandingGEN_USERUNIT", "GEN_USERUNIT")" class="btn btn-danger btn-md btnAddUser"><i class="fa fa-trash-alt"></i> @SharedLocalizer.GetLocalizedHtmlString("DELETE_REQUEST")</button>
                                <button id="btnGoBackGen_UserUnit" data="@Url.Action("LandingGEN_USERUNIT", "GEN_USERUNIT")" class="btn btn-secondary btn-md "><i class="fas fa-arrow-circle-left"></i> @SharedLocalizer.GetLocalizedHtmlString("GO_BACK")</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts {
    <script src="~/lib/customjs/Gen_UserUnit/Gen_UserUnit.js"></script>
}





