@using CLL
@model BDO.Core.DataAccessObjects.Models.gen_unitEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "View Gen Unit List";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("GEN_UNITY_LIST")</h5>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <form method="POST" id="frmDTGen_Unitlist" class="my-login-validation" novalidate="" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="DTGen_Unitlist" class="table table-striped table-bordered" @*style="width:100%"*@ cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><label class="labelNormal  " asp-for="unit"></label></th>
                                        <th><label class="labelNormal  " asp-for="unitcode"></label></th>
                                        <th><label class="labelNormal" >Logo</label></th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("ACTIONS_BUTTONS")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </form>
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {
    <script>
        $(function () {
            var dt = $("#DTGen_Unitlist").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/Gen_Unit/ListGen_Unit" }),
                "buttons": {
                    "buttons": [
                        {
                            text: '<i class="fas fa-plus-square" aria-hidden="true"></i> @SharedLocalizer.GetLocalizedHtmlString("ADD_NEW_RECORD")',
                            className: 'btn btn-primary mr-1',
                            action: function (e, dt, node, config) {
                                location.href = "/Gen_Unit/AddGen_Unit";
                            }
                        },
                        {
                            extend: 'copy',
                            text: '<i class="fas fa-copy" aria-hidden="true"></i> @SharedLocalizer.GetLocalizedHtmlString("COPY_LIST")',
                            className: 'btn btn-info mr-1',
                        },
                        {
                            extend: 'excel',
                            text: '<i class="fas fa-file-excel" aria-hidden="true"></i> @SharedLocalizer.GetLocalizedHtmlString("EXCEL_EXPORT")',
                            className: 'btn btn-info mr-1',
                        },
                        {
                            extend: 'csv',
                            text: '<i class="fas fa-file-csv" aria-hidden="true"></i> @SharedLocalizer.GetLocalizedHtmlString("CSV_EXPORT")',
                            className: 'btn btn-info mr-1',
                        },
                        {
                            extend: 'pdf',
                            text: '<i class="fa fa-print" aria-hidden="true"></i> @SharedLocalizer.GetLocalizedHtmlString("PRINT")',
                            className: 'btn btn-info mr-1',
                        }]
                },
                columnDefs: [
                    { targets: 0, "visible": true, searchable: true },
                    { targets: 1, "visible": true, searchable: true, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" }
                ],
                "columns": [
                    { "data": "unit", "name": "unit", "autoWidth": true },
                    { "data": "unitcode", "name": "unit code", "autoWidth": true },
                    {
                        "data": "ex_nvarchar1",  // Image column
                        "render": function (data, type, row) {                          
                            // Use the data (ImagePath) to construct the img tag

                            if (data != null) {
                                return '<img src="' + data + '"  width="50" height="50" />';
                            }
                            return "";
                        }
                    },
                    {
                        "data": "datatablebuttonscode", render: function (data, type, full, row) {
                            return data;
                        }
                    }
                ]
            });

        });

    </script>
}




