@using CLL
@model BDO.Core.DataAccessObjects.SecurityModels.owin_userEntity
@inject Web.Core.Frame.CustomIdentityManagers.ApplicationSignInManager<BDO.Core.DataAccessObjects.SecurityModels.owin_userEntity> SignInManager
@inject CLL.Localization.LocalizeService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD");
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-1">
                <img src="~/img/saheel.png" alt="logo" class="login-page-logo">
                @*        <h2 class="heading-section">Sahel</h2>*@
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">@SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD")</h3>
                    <form method="POST" id="frmforgetpassword" class="my-forgetpass-validation" novalidate="">
                        <div class="form-group">
                            <label for="emailaddress" class="">  @SharedLocalizer.GetLocalizedHtmlString("RECOVERY_EMAIL_ADDRESS")</label>
                            <input id="emailaddress" type="email" class="form-control" name="emailaddress" value="" required autofocus>
                            <div class="invalid-feedback">
                                @SharedLocalizer.GetLocalizedHtmlString("EMAIL_INVALID")
                            </div>
                        </div>

                        <div class="form-group m-0">
                            <button type="submit" id="btnforgetpassword" class="btn btn-primary">
                                @SharedLocalizer.GetLocalizedHtmlString("SUBMIT_REQUEST")
                            </button>
                            <button id="btnforgetpasswordCancel" class="btn btn-primary">
                                @SharedLocalizer.GetLocalizedHtmlString("CANCEL")
                            </button>
                        </div>
                        @*<div class="mt-4 text-center">
                        Don't have an account? <a href="register.html">Create One</a>
                        </div>*@
                    </form>
                   

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
}
