@using CLL
@*@model BDO.Core.DataAccessObjects.Models.Owin_RoleEntity*@
@inject CLL.Localization.LocalizeService SharedLocalizer
@{
    Layout = "_LayoutViewComponent";
}
@{
    string selectid = ViewBag.selectid;
    string strisReadOnly = ViewBag.isReadOnly.ToString().ToLower();
    string strmultiple = ViewBag.multiple.ToString().ToLower();
    bool isRequired = ViewBag.isRequired;
    bool isMapped = ViewBag.isMapped;
    long? pkey = string.IsNullOrEmpty(ViewBag.pkey) == true ? null : long.Parse(ViewBag.pkey);
    int minimumInputLength = 0;
    string lang = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant().ToLower();
    ViewBag.ServiceInfoData = ViewBag.ServiceInfoData != null ? ViewBag.ServiceInfoData : "undefined";

    //string controlparamid = ViewBag.ControlParam != null ? ViewBag.ControlParam : "undefined";

    //ViewBag.ServiceInfoData = ViewBag.ServiceInfoData != null ? ViewBag.ServiceInfoData : "undefined";


   

    if (isRequired == true)
    {
        <select name="@selectid" id="@selectid" class="form-control @selectid " data-val="true" data-val-required="Please Select Service"></select>
        <span class="field-validation-valid text-danger" data-valmsg-for="@selectid" data-valmsg-replace="true"></span>
    }
    else
    {
        <select name="@selectid" id="@selectid" class="form-control @selectid "></select>
    }
}
@section scripts
    {

    <script type="text/javascript">

        function AjaxGenServiceDataValues(params) {
            return JSON.stringify({ s2PageSize: 10, s2PageNum: params.page || 1, s2SearchTerm: params.term || null, s2Param: '@lang', s2Paramkey: '@pkey', IsMapped: true });
        }

        $(function () {
            var select2Options = returnSelect2Options();
            select2Options.placeholder = '@SharedLocalizer.GetLocalizedHtmlString("SELECTITEMFROMDROPDOWN")';
            select2Options.minimumInputLength = @minimumInputLength;
            select2Options.multiple = @strmultiple;
            select2Options.ajax.data = function (params) {
                return AjaxGenServiceDataValues(params);
            };
            select2Options.disabled = @strisReadOnly.ToLower();
            select2Options.ajax.url = '/Gen_ServiceInfo/GetDataForDropDowndGen_ServiceInfo';

            $('#@selectid').select2(
                select2Options
            );
            var dat = @Html.Raw(ViewBag.ServiceInfoData);
            if (dat != undefined) {
                var newOption = new Option(dat.Text, dat.Id, false, false);
                $('#@selectid').append(newOption).trigger('change');
            }
        });
    </script>
}
