@using CLL
@model BDO.Core.DataAccessObjects.Models.gen_eventinfoEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("DELETE_GEN_EVENTINFO");
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("DELETE_GEN_EVENTINFO")</h5>
            </div>
            <form method="POST" id="frmDeleteGen_EventInfo" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
                    <div class="row ">
                        <input asp-for="eventid" type="hidden" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="eventcategoryid"></label>
                                @await Component.InvokeAsync("S2Gen_EventCategory", new { selectid = "eventcategoryid", preloaded = ViewBag.preloadedDatagen_eventcategory, isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
                                <span asp-validation-for="eventcategoryid" class="eventcategoryiderror text-danger " id="eventcategoryiderror"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="eventorganizedby"></label>
                                @await Component.InvokeAsync("S2FilterGen_Unit", new { selectid = "eventorganizedby", preloaded = ViewBag.preloadedDatagen_unit, isReadOnly = false, multiple = false, isRequired = true, pkey = -99 })
                                <span asp-validation-for="eventorganizedby" class="eventorganizedbyerror text-danger " id="eventorganizedbyerror"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="eventcode"></label>
                                <input asp-for="eventcode" class="form-control" autocomplete="off" readonly />
                                <span asp-validation-for="eventcode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="eventname"></label>
                                <input asp-for="eventname" class="form-control" required></input>
                                <span asp-validation-for="eventname" class="eventnameerror text-danger " id="eventnameerror"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labelNormal required " asp-for="eventstartdate"></label>
                                <div class="input-group date bs-datepicker">
                                    <input asp-for="eventstartdate" class="form-control " type="text" placeholder="dd/mm/yyyy" required />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="eventstartdate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="labelNormal  " asp-for="eventdescription"></label>
                                <textarea cols="40" rows="5" asp-for="eventdescription" class="form-control" autocomplete="off"></textarea>
                                <span asp-validation-for="eventdescription" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-8 ">
                            <div class="form-group">
                                @* <div id="actions" class="row">
                                    <div class="col-lg-7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Add files...</span>
                                        </span>
                                    </div>
                                </div> *@

                                <div class="table table-striped files" id="previews">
                                    <div id="template" class="file-row row">
                                        <!-- This is used as the file preview template -->
                                        <div class="col-1">
                                            <span class="preview "><img height="80px" data-dz-thumbnail /></span>
                                        </div>
                                        <div class="col-3">
                                            <p class="name" data-dz-name></p>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="file-description form-control" name="fileDescription" placeholder="Enter file description" />
                                        </div>
                                       @*  <div class="col-1">
                                            <button data-dz-remove class="btn btn-danger btn-sm delete">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div> *@
                                    </div>
                                    <!-- This hidden input will store the file in the form submission -->
                                    <input type="hidden" name="files" />
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row btn-toolbar">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <button type="submit" id="btnDeleteGen_EventInfo" data="@Url.Action("LandingGEN_EVENTINFO", "GEN_EVENTINFO")" class="btn btn-danger btn-md btnAddUser"><i class="fa fa-trash-alt"></i> @SharedLocalizer.GetLocalizedHtmlString("DELETE_REQUEST")</button>
                                <button id="btnGoBackGen_EventInfo" data="@Url.Action("LandingGEN_EVENTINFO", "GEN_EVENTINFO")" class="btn btn-secondary btn-md "><i class="fas fa-arrow-circle-left"></i> @SharedLocalizer.GetLocalizedHtmlString("GO_BACK")</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts {
    <script src="~/lib/customjs/Gen_EventInfo/Gen_EventInfo.js"></script>
    <script>
        $(function () {
            tinymce.get('eventdescription').setMode('readonly');

        })
    </script>

    <script>

        // Get the template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        // Initialize Dropzone but prevent automatic upload
        Dropzone.autoDiscover = false;

        var myDropzone = new Dropzone(document.body,
            {
                url: "/Gen_EventInfo/EditGen_EventInfo",  // API endpoint
                method: "post",
                paramName: "files",  // The name for the files being uploaded
                uploadMultiple: true,  // Allow multiple file uploads
                //maxFilesize: 5,  // Max file size in MB
                parallelUploads: 5,  // Number of files to upload in parallel
                autoProcessQueue: false,  // Don't upload files immediately
                addRemoveLinks: false,
                acceptedFiles: ".jpeg,.jpg,.png,.gif,.pdf",
                thumbnailWidth: 60,
                thumbnailHeight: 60,
                previewTemplate: previewTemplate,
                previewsContainer: "#previews",
                //clickable: ".fileinput-button",
                init: function () {
                    var dropzoneInstance = this;
                    // The Dropzone instance is fully initialized here
                    console.log("Dropzone initialized.");
                    console.log(dropzoneInstance.files); // Should not be null here

                    var dataobject = {
                        eventid: $("#eventid").val(),
                    };

                    function LoadFiles() {
                        ajaxPostObjectHandler("/Gen_EventInfo/GetAllFileByEventId", dataobject, function (files) {
                            files.forEach(file => {
                                // Mock the file structure for Dropzone
                                var mockFile = { name: file.filetitle, size: file.filesize };

                                // Manually add the file to Dropzone
                                dropzoneInstance.emit("addedfile", mockFile);
                                dropzoneInstance.emit("thumbnail", mockFile, file.FileUrl); // Thumbnail if available

                                // Make the file marked as uploaded
                                dropzoneInstance.emit("complete", mockFile);
                                dropzoneInstance.files.push(mockFile);


                                // Set a custom attribute or flag to identify it as an old file
                                mockFile.isOld = true;
                                mockFile.eventfileid = file.eventfileid;
                                mockFile.eventid = file.eventid;
                                mockFile.FileUrl = file.FileUrl;
                                mockFile.filename = file.filename;

                                // Set the file description if available (assuming you store this info on the server)
                                var descriptionInput = $(mockFile.previewElement).find(".file-description");
                                descriptionInput.val(file.filedescription || ""); // Load saved description



                            });

                        }, true);
                    }

                    LoadFiles();
                }

            });





    </script>

}





